@font-face {
  font-family: Merm;
  src: url('../src/components/Fonts/Mermaid1001.ttf')
}


*{


  font-family: Merm;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.is-stuckToBottom {
  position: fixed;
  bottom: 20px;
}

.content-wrapper{
  padding-bottom: 2.5rem;
}